.catering {
  background: var(--red);
  color: white;
  position: relative;
}
.catering__inner {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 80px;
  align-items: center;
}
.catering .eyebrow {
  color: #ffd39c;
}
.catering h2 {
  font-size: clamp(52px, 6vw, 78px);
  margin-bottom: 0;
}
.catering__copy p {
  font-size: 15px;
}
.catering__copy p:nth-child(2) {
  font-size: 13px;
  color: #ffe7df;
}
.catering__copy .button {
  margin-top: 15px;
}
@media (max-width: 650px) {
  .catering__inner {
    grid-template-columns: 1fr;
    gap: 28px;
  }
}
